@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Karla:wght@400;700&display=swap');

.inter-font {
  font-family: 'Inter', sans-serif;
}

.karla-font {
  font-family: 'Karla', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute space between items */
  height: 100%;
  width: flex;
  background: url('../../assets/graybackground.png');
  background-color: #F0F0F0;
  padding: 5rem;
  position: relative;
}

.content {
  flex: 1;
  max-width: 600px;
  text-align: left; /* Align text to the left */
  z-index: 2;
}

.image-wrapper {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center; /* Center the image */
  align-items: center;
  z-index: 2;
}

.image-wrapper img {
  border-top-right-radius: 100px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 60%;
  height: auto;
}

.learn-more-button {
  background-color: #FFA523;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.16em;
  padding: 0.5rem 1.5rem;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}

.learn-more-button:hover {
  background-color: #ffcc00;
}

.content-container h2 {
  font-size: 2.5rem; /* Adjusted font size */
  font-weight: 700; /* Adjusted font weight */
  margin-bottom: 1rem; /* Adjusted margin */
}

.content-container p {
  font-size: 1.125rem; /* Adjusted font size */
  line-height: 1.5; /* Adjusted line height */
  margin-bottom: 2rem; /* Adjusted margin */
}
