@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.inter-font {
  font-family: 'Inter', sans-serif;
}

.karla-font {
  font-family: 'Karla', sans-serif;
}

.join-fusion-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../../assets/joinbackground.png') no-repeat center center;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
  padding: 2rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(255, 165, 35, 0.8));
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.apply-button {
  background-color: #FFA523;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.16em;
  padding: 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.apply-button:hover {
  background-color: #ffcc00;
}
