/* OurStorySection.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Karla:wght@400;700&display=swap');

.inter-font {
    font-family: 'Inter';
  }

.karla-font {
    font-family: 'Karla';
}

.background-elements {
    position: relative;
  }
  
  .dots-left {
    position: absolute;
    top: 150px;
    left: -770px;
    width: 100px;
    height: 100px;
    background-image: url('../../assets/dots.png');
    background-size: cover;
  }
  
  .dots-right {
    position: absolute;
    top: 40px; /* Adjusted */
    right: -770px; /* Adjusted */
    width: 100px;
    height: 100px;
    background-image: url('../../assets/dots.png');
    background-size: cover;
  }
  
  .triangle-top-right {
    position: absolute;
    top: -70px; /* Adjusted */
    right: -770px; /* Adjusted */
    width: 120px; /* Adjust as needed */
    height: 120px; /* Adjust as needed */
    background-image: url('../../assets/triangle.png');
    background-size: cover;
  }
  
  .triangle-bottom-left {
    position: absolute;
    top: 240px; /* Aligned to bottom */
    left: -770px; /* Aligned to left */
    width: 120px; /* Adjust as needed */
    height: 120px; /* Adjust as needed */
    background-image: url('../../assets/triangle.png');
    background-size: cover;
    transform: scaleX(-1) scaleY(-1);
  }
  
  .fixed-dimensions {
    width: 100%;
    height: 100%;
  }
  
  .flipped-horizontal {
    transform: scaleX(-1);
  }
  
  .flipped-vertical {
    transform: scaleY(-1);
  }
  